$breakpoint-tablet: 768px;

.questions {
  width: 100%;
  height: 100%;
  display: flex;


  .absolute-selector {
    background: #443BCE !important;
  }

  aside {
    width: 40%;
    height: 100%;
    background-color: #4CDAF4;
    display: flex;

    .panel {
      width: 100%;
      color:white;
      margin-left: 10%;
      margin-right: 10%;
      display: flex;
      flex-direction: column;

      .info {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .action {
        margin-top: 10px;
        background-color: transparent;
        border: 2px white solid;

        &:before {
          border: none;
        }
      }
    }
  }

  .content {
    position: relative;
    width: 60%;
    height: 100%;
    overflow: auto;

    img {
      position: absolute;
      width: 100%;
      transform: rotateZ(180deg);
      bottom: 0px;
      left: -200px;
      z-index: -1;
      opacity: 0.05;
      filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    }

    .container {
      margin: auto;
      width: 75%;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    display: block;
  
    aside {
      width: 100%;
      height: 100px;

      .panel {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .info {
          margin: 0px;
        }

        .action {
          height: 35px;
          margin-top: 5px;
        }
      }
    }
  
    .content {
      width: 100%;
      height: calc(100% - 100px);
    }
  }
}