.button {
  background-color: #443BCE;
  margin: 0px;
  border: none;
  color: white;
  transition: .3s;
  transform: scale(.95);
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;

  &:hover {
    cursor: pointer;
    transform: scale(1);
  }

  &:active {
    background-color: rgb(31, 22, 161);
    transform: scale(.95);
  }

  &:before {
    content: none;
  }

  &:disabled {
    opacity: .5;
  }
}