.button {
  background-color: #443BCE;
  margin: 0px;
  border: none;
  color: white;
  transition: .3s;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  position: relative;
  outline: none;

  &:active {
    background-color: rgb(31, 22, 161);
    transform: scale(.95);
  }

  &:before {
    width: 0;
    height: 0;
    border-top: 50px solid rgb(31, 22, 161);
    border-right: 25px solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    z-index: 10;
  }

  &:disabled {
    opacity: .5;
  }
}
