

.welcome {
  width: 100%;
  height: 100%;
  display: flex;

  .content{
    width: 75%;
    height: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .description {
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: fadein .5s ease-in-out 2s forwards;
    margin-bottom: 30px;
  }

  .button-container {
    opacity: 0;
    animation: fadein .5s ease-in-out 3s forwards;
    display: flex;

    .button {
      width: 50%;
      margin: auto;
    }
    
  }
  
}