

.welcome {
  width: 100%;
  height: 100%;
  display: flex;

  @keyframes expand {
    from {
      height: 0;
    }

    to {
      height: 50px;
    }
  }

  .content{
    margin: auto;
  }

  .description {
    font-size: xx-large;
    height: 0px;
    width: 100%;
    text-align: center;
    animation: expand 1s ease-in-out 3s forwards;
    animation-timing-function: cubic-bezier(0.59, 0.01, 0.09, 0.99)  ;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .button-container {
    height: 0px;
    width: 100%;
    animation: expand 1s ease-in-out 5s forwards;
    animation-timing-function: cubic-bezier(0.59, 0.01, 0.09, 0.99)  ;
    overflow: hidden;

    .button {
      width: 100%;
      height: 100%;
    }
    
  }
  
}